
#coupeImage{
    width: 10%;
    height: 10%;
}

@media all and (orientation: portrait){
    #coupeImage{
        width: 50%;
        height: 50%;
    }
}

div{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: large;
}

body{
    background-color: rgb(30, 30, 30);
}

#button{
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    
}